body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 搜索模块 */
.search-index {
    display: flex;
    /* 固定定位跟父级没有关系，它以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    /* 固定的盒子应该有宽度 */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    /* background-color: hotpink; */
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.search {
    position: relative;
    height: 24px;
    border: 1px solid #ccc;
    flex: 1;
    margin: 7px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #666;
    line-height: 26px;
    padding-left: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/放大镜.png) no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
}

.user {
    width: 44px;
    height: 44px;
    /* background-color: purple; */
    font-size: 12.5px;
    text-align: center;
    color: #2eaae0;
}

.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/用户.png) no-repeat;
    background-size: cover;
    margin: 4px auto -2px;
}

.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    /* background-color: pink; */
    /* border: 1px solid red; */
    margin-top: 8px;
    background: url(../images/nav1.png)no-repeat;
    /* 这里设置contain 和 cover效果是一样的 */
    /* background-size: contain; */
    background-size: cover;
}

.local-nav li .local-nav-icon-icon2 {
    background: url(../images/大V店.png) no-repeat;
    background-size: 32px 32px;
    /* 这里用cover会截掉图片一些内容 */
    /* background-size: cover; */
}

.local-nav li .local-nav-icon-icon3 {
    background: url(../images/订单-支付-京东支付.png) no-repeat;
    /* background-size: 32px 32px; */
    background-size: cover;
}

.local-nav li .local-nav-icon-icon4 {
    background: url(../images/jingdongdaojia.png) no-repeat;
    background-size: cover;
}

.local-nav li .local-nav-icon-icon5 {
    background: url(../images/meituan.png) no-repeat;
    background-size: cover;
}

/* nav */
nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

.nav-common {
    display: flex;
    height: 88px;
    /* background-color: lightgreen; */
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/金毛.png) no-repeat top center;
    background-size: 121px auto;
    /* background-size: cover; */
}

/* -n+2就是选择前两个元素 */
.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

nav .nav-common:nth-child(1) {
    /* 背景颜色必须加私有前缀 */
    background: -webkit-linear-gradient(right, hotpink, skyblue, purple);
}

nav .nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, hotpink, skyblue);
}

nav .nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

/* subnav-entry */
.subnav-entry {
    display: flex;
    border: 8px;
    background-color: #fff;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

.subnav-entry li {
    /* 里面的子盒子可以写% 相对于父级来说的 */
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry-icon {
    width: 28px;
    height: 28px;
    /* background-color: pink; */
    margin-top: 4px;
    background: url(../images/充值.png) no-repeat;
    background-size: 28px auto;
}

/* sales-box */
.sales-box {
    background-color: #fff;
    border-top: 1px solid #ccc;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../images/xpj.gif) no-repeat;
    background-size: 79px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.more::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}

/* 底部导航栏 */
.footer-nav {
    /* border: 1px solid red; */
    display: flex;
    margin: 4px;
}

.footer-nav a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav a:hover {
    background-color: hotpink;
}